/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) { 
/* banner start  */
.banner{
    padding-bottom: 30px;
}
.titeltop{
          text-align: center;
            padding-top: 50px;
        font: normal bold 30px / 72px var(--roboto);
}

.title{
          text-align: center;
            font: normal bold 30px / 70px var(--roboto);
        line-height: 1.3;
}
.subtitel{
          text-align: center;
    font: normal bold 20px / 70px var(--roboto);
}
 .site-button .d-flex {
    justify-content: center;
  }
.banner-btn{
    
           padding: 12px 25px;
        font: normal 500 16px / 20px var(--roboto);
        margin-right: 20px; 
}

.banner img{
          padding-top: 50px;
}
/* banner end  */
/* about start  */
.about-text-titel h2,
.about-text-titel h2 span {
    max-width: 100%;
    overflow-x: hidden;
}
.about{
    padding: 30px 0;
}

.about-text{
        text-align: center;
}

/* about end  */

/* brand area start  */


.brand-area{
    padding: 20px 0; 
}



.Experience-area{
padding-left: 15px;
}
.call-area{
    padding-top: 50px;
}
/* barand area end  */
/* services start  */
.services{
    padding: 50px 32px;
}
.services-titel h1{
    font-size: 35px;
}
.services-card{
      margin: 10px 8px;
  }
/* services end  */
/* project area start  */
.project-area{
    padding: 65px 40px;
}
.project-area .button-group button{
  
    line-height: 35px;
    
}
/* project area end  */

/* review start  */
.review-titel {
    
    font-size: 25px;
   
}
.review-text p {
    padding: 16px 15px;
}

/* review end  */


/* Subscribe start  */

.Subscribe-area{
    background-position: center;
          padding: 0 0;
        margin: 0 auto;
}
.Subscribe-titel h2{
   font-size: 25px;
       
        line-height: 40px;
}
.Subscribe-titel p {
           padding: 0;
}
.c-from{
padding: 0 20px;
}
.c-from input{
         text-align: center;
        width: 100%;
}

/* Subscribe end  */


/* footer start  */
.footer-area{
    padding: 30px 0;
  
}
.social a i {
        padding: 10px 20px;
}
.social{
  margin-bottom: 10px;
}
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* tablet styles here */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* desktop styles here */
}

/* X-Large devices (1200px and up) */
@media (min-width: 1200px) {
  /* large desktop styles */
}

/* XX-Large devices (1400px and up) */
@media (min-width: 1400px) {
  /* extra large desktop styles */
}
